<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Angular Web API</title>

		<!-- Bootstrap CSS -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet"

		<!-- CSS -->

        
	</head>

	<!-- Vistas Predefinidas

	Contiene el Header o NavBar de la Aplicacion
	<div header-view></div>

	Contiene el Footer de la aplicacion
	<div footer-view></div>

	Ejemplo de un Modal 
	<div modal-view></div>

	Ejemplo de una Alerta
	<div alert-view></div>

	 -->


	<body ng-app="app">  

    <div header-view></div>
       
                <div class="container">
            <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->



            <tabset >

                <tab heading="Pais">
                </br>
                 <div ng-controller="PaisCtrl as app">
                        <label >Nombre</label>
                        <input class="form-control" type="text" ng-model="app.pais.nombre" />

                        <a href="#" class="button" ng-click="app.addPais(app.pais) ">Agregar Pais</a>
                        <ul>
                            <li ng-repeat="pais in app.pais track by $index">
                                <label ng-model="data[key]"  >{{pais.id}}  {{pais.nombre}}</label>
                                <a href="#" class="button" ng-click="app.Borrar(pais.id) "> Borrar</a>
                                    
                            </li>
                        </ul>
                    </div>
                </tab>

                <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
               <tab heading="Liga" select="app.Garca()" ng-controller="LigaCtrl as app">
                    <div >


                        </br>
                        <label >Nombre</label></br>
                        <input type="text" class="form-control" ng-model="app.Liga.Nombre" /></br>
                        <label >Pais</label></br>
 
                        <select class="form-control" ng-model="app.Liga.Pais" ng-options="pais.nombre for pais in app.pais">{{pais.nombre}}</select><br>
                        <br/>
   
                        <a href="#" class="button" ng-click="app.addLiga(app.Liga) ">Agregar Liga</a>
                        <ul>
                            <li  ng-repeat="liga in app.Liga track by $index">
                                <label ng-model="data[key]"  >{{liga.Nombre}}</label>
                              <a ng-model="person[id]" href="#"  class="button" ng-click="app.Borrar(liga.Id) "  >Borrar</a>
                            </li>
                        </ul>
                    </div>
                </tab>
                <!-- ///////////////////////////////////////////////////////////////////////////////////// -->

                <tab heading="Torneo"  select="app.Garca()" ng-controller="TorneoCtrl as app">
                    <div >


                        </br>
                        <label >Nombre</label></br>
                        <input type="text" ng-model="app.torneo1.Nombre" class="form-control" /></br>
                        <label >Liga</label></br>
                        
                        <select ng-model="app.torneo1.Liga" ng-options="liga.Nombre for liga in app.liga">{{liga.Nombre}}</select><br>
                        <br/>

                        <button class="btn btn-sm btn-success" ng-click="app.addTorneo(app.torneo1)">Agregar Equipo</button><br/><br/>

                        
                        <ul>
                            <li  ng-repeat="torneo in app.torneo track by $index">
                                <label ng-model="data[key]"  >{{torneo.Nombre}} {{torneo.Idliga}}</label>
                              <a ng-model="person[id]" href="#"  class="button" ng-click="app.Borrar(torneo.Id) "  >Borrar</a>
                            </li>
                        </ul>
                    </div>
                </tab>
                 <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
       
                <tab  heading="Equipo"select="app.Garca()" ng-controller="EquipoCtrl as app">

                    <div >


                        <div style="width:49%;float: left;" class="well well-lg">
                        <ul>
                            <li  ng-repeat="liga in app.equipo track by $index">
                                <label ng-model="data[key]"  >{{liga.Nombre}}</label>
                              <a ng-model="person[id]" href="#"  class="button" ng-click="app.Borrar(liga.Id) "  >Borrar</a>
                            </li>
                        </ul>
                    </div>
                    <div style="width:49%;float: right;"class="well well-lg" >
                        </br>
                        <label >Nombre</label></br>
                        <input type="text" class="form-control" ng-model="app.equipo.Nombre" /></br>
                        <label >Ciudad</label></br>
                        <input type="text" class="form-control" ng-model="app.equipo.Ciudad" /></br>
                        <label >Apodo</label></br>
                        <input type="text" class="form-control" ng-model="app.equipo.Apodo" /></br>
                        <label >Estadio</label></br>
                        <input type="text" class="form-control" ng-model="app.equipo.Estadio" /></br>
                        <label >Logo</label></br>
                        <input type="text" class="form-control" ng-model="app.equipo.Logourl" /></br>
                        <label >Color</label></br>
                        <input type="text" class="form-control" ng-model="app.equipo.Color" /></br>
                    <br/>
   
                    <button class="btn btn-sm btn-success" ng-click="app.addEquipo(app.equipo)">Agregar Equipo</button><br/>
                </div>
                    </div>

                    </tab>
                     <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
                    <tab  heading="Jugador" select="app.Garca()" ng-controller="JugadorCtrl as app">
                        </br>
                        <div >
                        <div style="width:49%;float: left;" class="well well-lg">
                            <ul>
                                <li  ng-repeat="jugador in app.jugador track by $index">
                                    <label ng-model="data[key]"  >{{jugador.nombre}} {{jugador.apellidopaterno}} </label>
                                  <a ng-model="person[id]" href="#"  class="button" ng-click="app.Borrar(jugador.Id) "  >Borrar</a>
                                </li>
                            </ul>
                        </div>
                        <div style="width:49%;float: right;"class="well well-lg" >
                        <label >Nombre</label></br>
                        <input type="text" ng-model="app.jugador.Nombre" class="form-control" /></br>
                        <label >Apellido Paterno</label></br>
                        <input type="text" ng-model="app.jugador.Apellidopaterno" class="form-control" /></br>
                        <label >Apellido Materno</label></br>
                        <input type="text" ng-model="app.jugador.Apellidomaterno" class="form-control" /></br>
                        <label >Extra</label></br>
                        <input type="text" ng-model="app.jugador.extra" class="form-control" /></br>
                        <label >Posicion</label></br>
                        <select ng-model="app.jugador.posicion" ng-options="posicion.Nombre for posicion in app.posicion">{{posicion.Nombre}}</select><br>
                        <br/>
                        <button class="btn btn-sm btn-success" ng-click="app.addJugador(app.jugador)">Agregar Equipo</button><br/><br/>   
                        </div>
                        </div>
                    </tab>
                     <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
                    <tab  heading="Posicion" ng-controller="PosicionCtrl as app">
                        </br>
                        <div >
                        <label >Nombre</label></br>
                        <input type="text" ng-model="app.Nombre" class="form-control" /></br>
                        <label >Abreviatura</label></br>
                        <input type="text" ng-model="app.Abreviatura" class="form-control" /></br>
                        <label >Descripcion</label></br>
                        <input type="text" ng-model="app.Extra" class="form-control" /></br>
                        <button class="btn btn-sm btn-success" ng-click="app.addPosicion(app)">Agregar posicion</button><br/><br/>
                        </div>
                        <ul>
                            <li  ng-repeat="posicion in app.posicion track by $index">
                                <label ng-model="data[key]"  >{{posicion.Nombre}} y {{posicion.Abreviatura}} </label>
                              <a ng-model="person[id]" href="#"  class="button" ng-click="app.Borrar(posicion.Id) "  >Borrar</a>
                            </li>
                        </ul>
                        </tab>
                    <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
                    <tab  heading="Agregar equipo">
                    </br>
                    <div ng-controller="EquipoTorneoCtrl as app">

                        <select class="form-control" ng-model="app.select" ng-change="app.changeliga(app.select)" ng-options="liga.Nombre for liga in app.liga">{{liga.Nombre}}</select><br>
                        <select class="form-control" ng-model="app.selecttorneo" ng-change="app.changetorneo(app.selecttorneo)" ng-options="torneo.Nombre for torneo in app.torneo">{{torneo.Nombre}}</select><br>
                        <div style="width:49%;float: left;" class="well well-lg">
                        <label class="form-control">Equipos sin agregar</label>
                        <ul>
                            <li  class="form-control" ng-repeat="equipo in app.equipostodos track by $index">
                                <label>{{equipo.Nombre}}</label>  
                                <a ng-model="person[id]" href="#"  class="button" ng-click="app.addEquipo(equipo,app.selecttorneo) "  >   

                                    Agregar</a>
                            </li>
                        </ul>
                        </div>
                        <div style="width:49%;float: right;">
                        <label class="form-control">Equipos en el Torneo</label>
                        <ul>
                            <li  class="form-control" ng-repeat="equipo in app.equipostorneo track by $index">
                                <label>{{equipo.Nombre}} -</label>
                         <a  ng-model="person[id]" href="#"  class="button" ng-click="app.addEquipo(equipo,app.selecttorneo) "  >Agregar</a>
                            </li>
                        </ul>
                    </div>


                    </div>

                    </tab>
                     <!-- ///////////////////////////////////////////////////////////////////////////////////// -->           
                    <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
                    <tab  heading=" Agregar Partido" ng-controller="PartidoCtrl as app">
                    </br>
                    <div>
                        <select class="form-control" ng-model="app.select" ng-change="app.changeliga(app.select)" ng-options="liga.Nombre for liga in app.liga">{{liga.Nombre}}</select><br>
                        <select class="form-control" ng-model="app.selecttorneo" ng-change="app.changetorneo(app.selecttorneo)" ng-options="torneo.Nombre for torneo in app.torneo">{{torneo.Nombre}}</select><br>
                        <label class="form-control">Partidos</label>
                        <div style="width:49%;float: left;">
                        <select class="form-control" ng-model="app.selectedlocal"  ng-options="local.Nombre for local in app.local">{{local.Nombre}}</select>
                    </div>
                    <div style="width:49%;float: right;">
                        <select class="form-control" ng-model="app.selectedvisitante"  ng-options="visitante.Nombre for visitante in app.visitante">{{visitante.Nombre}}</select>
                    </div>
                        <label >Jornada</label></br>
                        <input type="text" ng-model="app.jornda" class="form-control" /></br>
                        <label >Alineacion</label></br>
                        <input type="text" ng-model="app.Nombre" class="form-control" /></br>
                        <label >Jornada</label></br>
                        <div class="row">
                        <div class="col-md-6">
                        <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="app.date" is-open="opened"  max-date="'2015-06-22'" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        </p>
                        </div>
                         </div>
                    <button class="btn btn-sm btn-success" ng-click="app.addPartido(app,dt)">Agregar Juego</button><br/><br/>
                    </div>
                    </tab>
                     
                                       <tab  heading="Wizard de llamadas" ng-controller="WizardCtrl as app">
                    </br>
                    <h3>Busca el Formato de URL para de los servicios de SoccerGenius</h3>
                    <label >Relaciones:</label>
                    <select ng-model="app.Relacion">

                        <option>Sin Relaciones</option>
                        <option>Con Relaciones</option>
                    </select>
                    <label >Servicios:</label>
                    <select ng-model="app.Item">

                        <option>Pais</option>
                        <option>Liga</option>
                        <option>Equipo</option>
                        <option>Jugador</option>

                        
                    </select>
                    <a href="#" class="button" ng-click="app.Make(app.Relacion, app.Item) ">Ver Servios</a>
                    </br>
                    <label class="form-control" >Llamada: {{app.Service}}</label>
                    </br>
                    <textarea class="form-control" rows="4" cols="50" style"">
                        {{app.datos}}
                    </textarea>
                    </tab>
                     <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
                     <tab  heading="Agregar Jugadores" ng-controller="DatosPartidoCtrl as app">
                        </br>
                        <label >Liga</label>
                        <select class="form-control" ng-model="app.select" ng-change="app.changeliga(app.select)" ng-options="liga.Nombre for liga in app.liga">{{liga.Nombre}}</select><br>
                        <label >Torneo</label>
                        <select class="form-control" ng-model="app.selecttorneo" ng-change="app.changetorneo(app.selecttorneo)" ng-options="torneo.Nombre for torneo in app.torneo">{{torneo.Nombre}}</select><br>
                         <label >Equipos en el Torneo</label>
                        <select class="form-control" ng-model="app.selectedequipo" ng-change="app.changeequipo(app)" ng-options="equipo.Nombre for equipo in app.equipos">{{equipo.Nombre}}</select>
                    </br>
                    <div>
                        <div style="width:49%;float: left;" class="well well-lg">
                           
                          
                                <div  ng-repeat="jugador in app.nojugador track by $index">
                                    <label>{{jugador.nombre}} {{jugador.apellidopaterno}} <input type="text" ng-model="jugador.numero" style="width:30px"/> 
                                    <a ng-model="person[id]" href="#"  class="button" ng-click="app.addJugador(jugador,jugador.numero,app.selectedequipo) "  style="float: right;">Agregar</a></label>
                                </div>
                        
                        </div>
                        <div style="width:49%;float: right;" class="well well-lg">
                            <ul>
                                <li   ng-repeat="jugador in app.jugador track by $index">
                                    <label>{{jugador.nombre}} </label>
                                    <a  ng-model="person[id]" href="#"  class="button" ng-click="app.addJugador(jugador,app.selectedequipo) ">Agregar</a>
                                </li>
                            </ul>
                        </div>

                        </div>
                    </div>

                    </tab>
                    <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
  
                    </tabset>
        

		<!-- Angular -->
		<script src="assets/libs/angular.min.js"></script>




		<!-- Angular Boostrap-->
		<script src="assets/libs/ui-bootstrap-tpls-0.11.2.js"></script>

		<!-- Angular UI Router -->
		<script src="assets/libs/angular-ui-router.min.js"></script>

		<!-- Angular Resource -->
		<script src="assets/libs/angular-resource.min.js"></script>

		<!-- My Angular script -->
		<script src="app.js"></script>

		<!-- My Angular modules -->
		<script src="shared/shared.module.js"></script>
		<script src="shared/alert/alert.module.js"></script>
   		<script src="shared/modal/modal.module.js"></script>
        <script src="shared/carousel/carousel.module.js"></script>
		<script src="components/components.modules.js"></script> 
		<script src="components/core/core.modules.js"></script> 
		<script src="components/core/header/header.modules.js"></script> 
    	<script src="components/core/footer/footer.modules.js"></script> 
    	<script src="components/core/register/register.modules.js"></script> 



		<!-- My Angular Controllers -->
		<script src="shared/alert/alert.controller.js"></script>
		<script src="shared/modal/modal.controller.js"></script>
        <script src="shared/carousel/carousel.controller.js"></script>
		<script src="components/core/register/register.controller.js"></script> 



		<!-- My Angular Directives -->
		<script src="shared/alert/alert.directive.js"></script>
		<script src="shared/modal/modal.directive.js"></script>
        <script src="shared/carousel/carousel.directive.js"></script>
		<script src="components/core/header/header.directive.js"></script> 
   		<script src="components/core/footer/footer.directive.js"></script> 
   		<script src="components/core/register/register.directive.js"></script> 

		
		
	</body>
</html>



